.header
{
	width:500px;
	background: #f7f7f7;
	min-height: 50px;
	display: inline-block;
	vertical-align: middle;
	outline: 1px solid #bbb;
}

.template_holder_body
{
	width:500px;
	background: #f7f7f7;
	min-height: 100px;
	display: inline-block;
	vertical-align: middle;
	outline: 1px solid #bbb;
}

.footer
{
	width:500px;
	background: #f7f7f7;
	min-height: 50px;
	display: inline-block;
	vertical-align: middle;
	outline: 1px solid #bbb;
}

.template_holder
{
	 text-align: center;
	 font-family: 'xsphone,phone,xlphone,tablet,xltablet,desktop';
	 font-size: 14px;
	 color: #959595;
	 font-weight: bold;
	 vertical-align: middle;
}

div#toolbarItemsWrapper {
    width: 100%;
    height: 23px;
    background: #5C5C5C;
}

div#move,#edit,#copy,#delete {
    width: 50px;
    display: inline-block;
    background: #DADADA;
    border-radius: 2px;
    color: black;
}

div#move:hover, #edit:hover, #copy:hover, #delete:hover {
    cursor: pointer;
    background: #5193C8;
    color: white;
}
